<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheet/style.css" />
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li class="dropdown">
                    <a href="#">Prodocts</a>
                    <ul class="dropdown-list">
                        <li><a>Prodoct 1</a></li>
                        <li><a>Prodoct 2</a></li>
                        <li><a>Prodoct 3</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <div class="container cards">
        <h1 class="headings">Lorem Cards</h1>
        <div class="card">
            <img src="http://lorempixel.com/300/200/" />
            <h3>Lorem ipsum</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </p>
            <div style="height:35px;padding:3px 0;">
                <a href="#" class="btn btn-prim btn-block">Read more...</a>
            </div>
            <div class="overlay">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="card">
            <img src="http://lorempixel.com/300/200/" />
            <h3>Lorem ipsum</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
                <div style="height:35px;padding:3px 0;">
                    <a href="#" class="btn btn-prim btn-block">Read more...</a>
                </div>
            <div class="overlay">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="card">
            <img src="http://lorempixel.com/300/200/" alt="Card 1"/>
            <h3>Lorem ipsum</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </p>
            <div style="height:35px;padding:3px 0;">
                <a href="#" class="btn btn-prim btn-block">Read more...</a>
            </div>
            <div class="overlay">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container-full review">
        <div class="overlay">
            <div class="container">
                <h1>Send a Review</h1>
                <form class="form-control pull-right" id="form">
                    <div class="form-input">
                        <input placeholder="Name" type="text">
                    </div>
                    <div class="form-input">
                        <input placeholder="Email" type="text">
                    </div>
                    <div class="form-input">
                        <textarea placeholder="Review"></textarea>
                    </div>
                    <div class="form-input pull-left">
                        <input type="submit" class="pull-right btn btn-green" value="Send">
                        <input type="reset" class="pull-right btn btn-prim">
                        <input type="button" class="pull-right btn btn-red" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container about">
        <img src="http://lorempixel.com/400/500/" class="pull-left" />
        <div class="description pull-left">
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <footer>
        <div class="container">
            <h5 style="text-align: center;padding:10px;color: white;">Copy Right</h3>
        </div>
    </footer>
</body>

</html>