<html>

<head>
    <link rel="stylesheet" href="stylesheet/style.css">
    <link rel="stylesheet" href="stylesheet/index.css">
    <link rel="stylesheet" href="./stylesheet/font-awesome.min.css">
</head>

<body>
    <div id="banner">
        <ul class="pull-right">
            <li>خانه</li>
            <li>محصولات</li>
            <li>تماس با ما</li>
            <li>درباره ما</li>
        </ul>
        <ul class="pull-left">
            <li>ورود</li> |
            <li>ثبت نام</li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div id="nav-side" class="pull-right col-2">
        <ul>
            <li><span class="fa fa-home"></span>خانه</li>
            <li><span class="fa fa-th"></span>محصولات</li>
            <li><span class="fa fa-phone"></span>تماس با ما</li>
            <li><span class="fa fa-address-card"></span>درباره ما</li>
        </ul>
    </div>
    <div class="pull-right col-10" id="main">
        <article>
        </article>
        <div id="footer">
            <h5 id="copyright" class="text-center"><i class="fa fa-copyright"></i> حق کپی محفوظ است</h5>
        </div>
    </div>
</body>

</html>